* {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.fullContainer {
    /*padding: 4rem;*/
}


/********************** Splash Page *****************/

.mainLogo {
    max-height: 800px;
    max-width: 800px;
    z-index: 20;
}

.splashRow {
    height: 50vh;
}

.splashSide {
    height: 100%;
}

.sideOne {
    background-color: white;
}

.side-one-text {
    position: absolute;
}

.splashText {
    z-index: 21;
    color: white;
    margin-top: 6rem;
    font-size: 7rem !important;
    font-weight: bolder;
}

.sideTwo {
    background-color: black;
}

.text-center {
    font-size: 5rem;
}

.vertical-center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-bottom-align {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.secondLine {
    display: block;
    font-size: 3rem;
    text-align: right;
}

.studioLink {
    padding-right: 2rem;
}


/**************************** End Splash Page*************************/


/*************************** Navbar ****************************/

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
    font-family: 'Didact Gothic', sans-serif;
    color: black !important;
    font-weight: 300;
    font-size: 6rem;
}

.socialMediaButtons a {
    margin: .5rem .5rem 0rem .5rem;
}

.newSec {
    margin-top: 2rem;
    padding: 0 2rem 0 4rem;
}


/******************************** End Navbar ****************************/


/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/


/********************************/


/*       Fade Bs-carousel       */


/********************************/

.fade-carousel {
    position: relative;
    height: 100vh;
}

.fade-carousel .carousel-inner .item {
    height: 100vh;
}

.fade-carousel .carousel-indicators>li {
    margin: 0 2px;
    background-color: black;
    border-color: black;
    opacity: 1;
}

.fade-carousel .carousel-indicators>li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: white;
    border-color: white;
}


/********************************/


/*          Hero Headers        */


/********************************/

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}


/********************************/


/*            Overlay           */


/********************************/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .2;
}


/********************************/


/*          Custom Buttons      */


/********************************/

.btn.btn-lg {
    padding: 10px 40px;
    background-color: black;
}

.btn.btn-hero,
{
    color: #f5f5f5;
    background-color: black;
    outline: none;
    margin: 20px auto;
    -webkit-transition: .5s all ease-in-out .5s;
    -moz-transition: .5s all ease-in-out .5s;
    -ms-transition: .5s all ease-in-out .5s;
    -o-transition: .5s all ease-in-out .5s;
    transition: .5s all ease-in-out .5s;
}

.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #272727;
    -webkit-transition: .5s all ease-in-out .5s;
    -moz-transition: .5s all ease-in-out .5s;
    -ms-transition: .5s all ease-in-out .5s;
    -o-transition: .5s all ease-in-out .5s;
    transition: .5s all ease-in-out .5s;
}


/********************************/


/*       Slides backgrounds     */


/********************************/

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
    background-color: grey;
    background-blend-mode: multiply;
}

.fade-carousel .slides .slide-2 {
    background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
    background-color: grey;
    background-blend-mode: multiply;
}

.fade-carousel .slides .slide-3 {
    background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
    background-color: grey;
    background-blend-mode: multiply;
}


/**************************** End Slides **********************************/


/**************************** Stylists Cards *******************************/

.containerHover {
    position: relative;
    margin: 1rem;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(152, 152, 152, .5);
}

.containerHover:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.subcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cardContainer {
    margin-bottom: 2rem;
}

.title {
    color: grey;
    font-size: 18px;
}

.cardContainer a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.subcard {
    padding: 3rem;
}


/**************************** End Stylist Cards *********************************/


/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 4em;
    }
}


/**********************************************************/


/* End oF queries */


/******************************************************************/


/******************* Map ***************************/

#map {
    margin: 2rem 0 2rem 0;
    height: 80vh;
}


/********************* End Map**********************/


/****************************** Instagram ************/

.instagramP {
    font-size: 2rem;
}


/*********************** End Instagram *****************/


/***************footer*************************/

.footer {
    position: sticky;
    bottom: 0;
}

.footerContainer {
    width: 100%;
    background-color: black;
    color: white;
}


/***************end footer*************************/


/**************************************************/


/*************** Testimonials ********************/

.testimonials blockquote {
    position: relative;
    background: white;
    min-height: 150px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 1px solid #ecedf1;
}

.testimonials blockquote:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #ecedf1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.testimonials blockquote:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -9px;
    border-top: 9px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.testimonials blockquote img {
    height: 50px;
    width: 50px;
    position: absolute;
    border: 1px solid #ecedf1;
    background: white;
    bottom: -65px;
    left: 50%;
    margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
}

span.clients-name {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/****************** End Testimonials**********************/

.blackSec {
    background-color: black;
    color: white;
}

p {}

h1 {
    text-align: center;
}